html {
	font-size: 62.5%;
}
html,
body {
	height: 100%;
}
img {
	width: auto;
	max-width: 100%;
	height: auto;

	-ms-interpolation-mode: bicubic;
}
::selection {
	color: #fff;
	background-color: #06f;
	text-shadow: none;
}
a {
	color: #28bbf0;
}
