$phone: 48rem;
$tablet: 76.8rem;
$small-desktop: 102.4rem;
$desktop: 120rem;
$large-desktop: 180rem;

$default-font: 'Proxima Nova Light', Arial, sans-serif;
$default-font-italic: 'Proxima Nova Light Italic', sans-serif;
$default-font-bold: 'Proxima Nova Semibold', sans-serif;

$default-font-special:  'Panton Bold', sans-serif;
$default-font-size: 1.6rem;