.page {
	display: table;
	overflow: hidden;

	width: 100%;
	height: 100%;
	min-height: 100%;

	table-layout: fixed;
	&_bg-full-scr {
		position: relative;

		background-image: linear-gradient(rgba(0,0,0,0) 75%, rgba(0,0,0,.6) 100%), url(../img/page__welcome-back.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	&__header {
		position: relative;

		overflow: hidden;

		height: 30rem;
		&-back {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 50%;

			display: block;

			min-width: 100%;
			max-width: none;
			height: auto;
			min-height: 55rem;

			transform: translateX(-50%);
		}
		&-wrap {
			font-size: 0;

			position: relative;
			z-index: 3;

			box-sizing: border-box;
			max-width: $max-width;
			height: 24rem;
			margin: auto;
			padding: 0 3.5rem;
			&:after {
				display: inline-block;
				overflow: hidden;

				width: 0;
				height: 100%;

				content: "";
				vertical-align: middle;
			}
		}
		&-search {
			position: relative;
			z-index: 3;

			height: 6rem;
		}
		&:after {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			display: block;

			content: "";

			background: linear-gradient(to right, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%);
		}
	}
	&__main {
		display: table-row;

		height: 100%;
		&-wrap {
			padding: 1.8rem;
			&_middle {
				display: table-cell;

				vertical-align: middle;
			}
			&_center {
				text-align: center;
			}
		}
	}
	&__footer {
		font-size: 1.6rem;

		position: relative;

		display: block;
		overflow: hidden;
		&-about {
			display: table-cell;

			width: 50%;
			padding-right: 3rem;
			line-height:1.5;

			text-align: left;
		}
		&-copyright {
			display: table-cell;

			width: 50%;
			padding-left: 3rem;
			line-height:1.5;

			text-align: right;
			&_gray {
				color: rgba(#fff,.6);
			}
		}
		&-back {
			position: absolute;
			top: -30rem;
			left: 50%;

			display: block;

			min-width: 100%;
			max-width: none;
			height: auto;
			min-height: 55rem;

			transform: translateX(-50%);
		}
		&-wrap {
			position: relative;
			z-index: 1;

			display: block;

			max-width: 122rem;
			margin: auto;
			padding: 1.8rem 1rem;
		}
		&-top {
			font-size: 2.8rem;

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			width: 2.8rem;
			height: 2.8rem;
			margin: auto;

			cursor: pointer;
			transition: color .2s;

			color: rgba(#fff,.6);
			&:hover {
				color: rgba(#fff,1);
			}
			svg {
				display: block;
			}
		}
		&_center {
			text-align: center;
		}
		&_color-white {
			color: #fff;
		}
		&_bg-dark:after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			display: block;

			content: "";

			background: rgba(0,0,0,.75);
		}
	}
}
