.albums {
	position:relative;
	&__title {
		margin: 0 0 3.1rem;
	}
	&__add {
		position:absolute;
		right:0;top:0;
	}
	&__list {
		font-size: 0;

		margin: -1rem;
	}
	&__item {
		margin: 1rem;
		width:calc(33.33% - 2rem);
		display:inline-block;
		vertical-align:top;
	}
	&__more {
		text-align:center;
		margin-top:2rem;
	}
}
