extends main

block variables
	- var rootClass = 'modal-on'

block modal
	.modal.modal_visible
		.modal__overlay
		.modal__wrapper
			.modal__content
				.modal__close.modal__close_outer
					button.modal__close-btn
						span.btn__wrap
							+svg('close')
				.modal__content-wrap
					.modal__body.modal__body_bgcolor_transparent
						.big-photo.modal__pic
							.big-photo__nav
								button.big-photo__btn.big-photo__btn_prev
									+svg('arrow_left')
								button.big-photo__btn.big-photo__btn_next
									+svg('arrow_right')

							.big-photo__item
								.big-photo__cover(style="background-image: url(./assets/img/photo_4.jpg)")
								img(src="./assets/img/photo_4.jpg")