extends ../layout

block variables
	- var title = 'Main'

block content
	.page
		header.page__header
			img.page__header-back(src="./assets/img/page__header-back.jpg" alt="")
			.page__header-wrap
				.profile
					.profile__pic
						img(src="./assets/img/user-pic.jpg" alt="")
					.profile__info
						.profile__name Антон Черепов
						.profile__about Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
						ul.profile__lnks
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_fb')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_vk')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_google')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_twitter')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_email')
						ul.profile__btns
							li.profile__btn
								button.btn.btn_with-icon.btn_light 
									+svg('edit')
									span.btn__text Редактировать
							li.profile__btn
								button.btn.btn_with-icon.btn_light 
									+svg('off')
									span.btn__text Выйти

			.page__header-search
				.search
					.search__wrap 
						form.search__form.form(action="#" method="post") 
							label.form__row
								input.input-text.input-text_with-icon.input-text_full-width(type="text" placeholder="Исследовать мир")
								+svg('search')

		main.page__main

		footer.page__footer.page__footer_color-white.page__footer_bg-dark
			img.page__footer-back(src="./assets/img/page__header-back.jpg" alt="")
			.page__footer-wrap
				a.page__footer-top(href="#" title="")
					+svg('top')
				.page__footer-about Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
				.page__footer-copyright.page__footer-copyright_gray 2016 Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool