extends ../layout

block variables
	- var title = 'Main'

block content
	.page
		header.header
			.header__bg
				img(src="./assets/img/page__header-back.jpg" alt="")
			.header__wrap
				.profile
					.profile__pic
						img(src="./assets/img/user-pic.jpg" alt="")
					.profile__info
						.profile__name Антон Черепов
						.profile__about Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
						ul.profile__lnks
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_fb')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_vk')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_google')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_twitter')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_email')
						ul.profile__btns
							li.profile__btn
								button.btn.btn_with-icon.btn_light 
									span.btn__wrap
										+svg('edit')
										span.btn__text Редактировать
							li.profile__btn
								button.btn.btn_with-icon.btn_light 
									span.btn__wrap
										+svg('off')
										span.btn__text Выйти

			.header__search
				.search
					.search__wrap 
						form.search__form.form(action="#" method="post") 
							label.form__row
								input.input-text.input-text_with-icon.input-text_border_transparent.input-text_full-width(type="text" placeholder="Исследовать мир")
								+svg('search')

		header.header
			.header__bg
				img(src="./assets/img/page__header-back.jpg" alt="")
			.header__wrap
				//- Добавляем класс .profile_edit
				form.profile.profile_edit(action="#" method="post")
					//- Добавляем block .profile__pic-edit.profile__bg-edit
					.profile__pic-edit.profile__bg-edit
						input.input-file__input(type="file" name="")
						button.profile__pic-edit-btn.input-file__btn(type="button")
							+svg('cam')
							span Изменить фон
					.profile__pic
						//- Добавляем block .profile__pic-edit.input-file
						.profile__pic-edit.input-file
							input.input-file__input(type="file" name="")
							button.profile__pic-edit-btn.input-file__btn(type="button")
								+svg('cam')
								span Изменить фото
						img(src="./assets/img/user-pic.jpg" alt="")

					.profile__info
						.profile__name
							//- Заключаем в input
							input.input-text.input-text_full-width(type="text" name="" value="Антон Черепов")
						.profile__about 
							//- Заключаем в textarea
							textarea.input-text.input-text_full-width.input-text_textarea.input-text_two-strings(name="") Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
						ul.profile__lnks
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_fb')
								.profile__lnks-item-edit
									input.input-text.input-text_border-color_gray.input-text_full-width(type="text" name="" placeholder="http://fb.com" value="")
									.profile__lnks-item-btns
										button.btn.btn_flat.modal__btn 
											span.btn__wrap Сохранить
										button.btn.btn_flat.btn_text.modal__btn 
											span.btn__wrap Отменить
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_vk')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_google')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_twitter')
							li.profile__lnks-item
								a(href="" title="" target="_blank")
									+svg('soc_email')
						ul.profile__btns
							li.profile__btn
								button.btn.btn_with-icon.btn_light 
									span.btn__wrap
										+svg('edit')
										span.btn__text Редактировать
							li.profile__btn
								button.btn.btn_with-icon.btn_light 
									span.btn__wrap
										+svg('off')
										span.btn__text Выйти

			.header__search
				.search
					.search__wrap 
						form.search__form.form(action="#" method="post") 
							label.form__row
								input.input-text.input-text_with-icon.input-text_border_transparent.input-text_full-width(type="text" placeholder="Исследовать мир")
								+svg('search')
		main.main.main_bgcolor_gray
			.main__section.main__section_bgcolor_white
				.photos.main__section-wrap
					.title.photos__title Новое в мире
					.photos__list
						.photo.photos__item
							a.photo__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.photo__pic-zoom
									+svg('loupe')
							.photo__info
								a.photo__user(href="" title="")
									img(src="./assets/img/user-pic.jpg" alt="")
									.photo__user-zoom
										+svg('more')
								.photo__info-wrap
									.photo__name Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
									.photo__actions
										button.photo__action.photo__action_comments
											+svg('comments')
											span.photo__action-name 4
										button.photo__action.photo__action_likes
											+svg('like')
											span.photo__action-name 32
							.photo__album 
								a.photo__album-link(href="" title="")
									+svg('album')
									span.photo__album-title Прогулки по воде
						.photo.photos__item
							a.photo__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.photo__pic-zoom
									+svg('loupe')
							.photo__info
								a.photo__user(href="" title="")
									img(src="./assets/img/user-pic.jpg" alt="")
									.photo__user-zoom
										+svg('more')
								.photo__info-wrap
									.photo__name Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
									.photo__actions
										button.photo__action.photo__action_comments
											+svg('comments')
											span.photo__action-name 4
										button.photo__action.photo__action_likes
											+svg('like')
											span.photo__action-name 32
							.photo__album 
								a.photo__album-link(href="" title="")
									+svg('album')
									span.photo__album-title Прогулки по воде
						.photo.photos__item
							a.photo__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.photo__pic-zoom
									+svg('loupe')
							.photo__info
								a.photo__user(href="" title="")
									img(src="./assets/img/user-pic.jpg" alt="")
									.photo__user-zoom
										+svg('more')
								.photo__info-wrap
									.photo__name Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
									.photo__actions
										button.photo__action.photo__action_comments
											+svg('comments')
											span.photo__action-name 4
										button.photo__action.photo__action_likes
											+svg('like')
											span.photo__action-name 32
							.photo__album 
								a.photo__album-link(href="" title="")
									+svg('album')
									span.photo__album-title Прогулки по воде
						.photo.photos__item
							a.photo__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.photo__pic-zoom
									+svg('loupe')
							.photo__info
								a.photo__user(href="" title="")
									img(src="./assets/img/user-pic.jpg" alt="")
									.photo__user-zoom
										+svg('more')
								.photo__info-wrap
									.photo__name Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
									.photo__actions
										button.photo__action.photo__action_comments
											+svg('comments')
											span.photo__action-name 4
										button.photo__action.photo__action_likes
											+svg('like')
											span.photo__action-name 32
							.photo__album 
								a.photo__album-link(href="" title="")
									+svg('album')
									span.photo__album-title Прогулки по воде
						.photo.photos__item
							a.photo__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.photo__pic-zoom
									+svg('loupe')
							.photo__info
								a.photo__user(href="" title="")
									img(src="./assets/img/user-pic.jpg" alt="")
									.photo__user-zoom
										+svg('more')
								.photo__info-wrap
									.photo__name Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
									.photo__actions
										button.photo__action.photo__action_comments
											+svg('comments')
											span.photo__action-name 4
										button.photo__action.photo__action_likes
											+svg('like')
											span.photo__action-name 32
							.photo__album 
								a.photo__album-link(href="" title="")
									+svg('album')
									span.photo__album-title Прогулки по воде
						.photo.photos__item
							a.photo__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.photo__pic-zoom
									+svg('loupe')
							.photo__info
								a.photo__user(href="" title="")
									img(src="./assets/img/user-pic.jpg" alt="")
									.photo__user-zoom
										+svg('more')
								.photo__info-wrap
									.photo__name Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
									.photo__actions
										button.photo__action.photo__action_comments
											+svg('comments')
											span.photo__action-name 4
										button.photo__action.photo__action_likes
											+svg('like')
											span.photo__action-name 32
							.photo__album 
								a.photo__album-link(href="" title="")
									+svg('album')
									span.photo__album-title Прогулки по воде
						.photo.photos__item
							a.photo__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.photo__pic-zoom
									+svg('loupe')
							.photo__info
								a.photo__user(href="" title="")
									img(src="./assets/img/user-pic.jpg" alt="")
									.photo__user-zoom
										+svg('more')
								.photo__info-wrap
									.photo__name Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
									.photo__actions
										button.photo__action.photo__action_comments
											+svg('comments')
											span.photo__action-name 4
										button.photo__action.photo__action_likes
											+svg('like')
											span.photo__action-name 32
							.photo__album 
								a.photo__album-link(href="" title="")
									+svg('album')
									span.photo__album-title Прогулки по воде
						.photo.photos__item
							a.photo__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.photo__pic-zoom
									+svg('loupe')
							.photo__info
								a.photo__user(href="" title="")
									img(src="./assets/img/user-pic.jpg" alt="")
									.photo__user-zoom
										+svg('more')
								.photo__info-wrap
									.photo__name Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
									.photo__actions
										button.photo__action.photo__action_comments
											+svg('comments')
											span.photo__action-name 4
										button.photo__action.photo__action_likes
											+svg('like')
											span.photo__action-name 32
							.photo__album 
								a.photo__album-link(href="" title="")
									+svg('album')
									span.photo__album-title Прогулки по воде
						
					.photos__more
						button.btn.btn_flat.btn_bg_transparent 
							span.btn__wrap Показать еще
			.main__section
				.albums.main__section-wrap
					.title.albums__title Мои альбомы
					.albums__add
						button.btn.btn_with-icon.btn_light 
							span.btn__wrap
								+svg('add')
								span.btn__text Добавить альбом
					.albums__list
						.album.albums__item
							a.album__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.album__resume
									.album__descr Фотографии природы леса, енотов и оленей
									.album__count
										span.album__count-value 18
										span Фотографий
							.album__info
								.album__actions
									button.album__action
										+svg('edit')
								.album__name 
									a.album__link(href="" title="") Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
						.album.albums__item
							a.album__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.album__resume
									.album__descr Фотографии природы леса, енотов и оленей
									.album__count
										span.album__count-value 18
										span Фотографий
							.album__info
								.album__actions
									button.album__action
										+svg('edit')
								.album__name 
									a.album__link(href="" title="") Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
						.album.albums__item
							a.album__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.album__resume
									.album__descr Фотографии природы леса, енотов и оленей
									.album__count
										span.album__count-value 18
										span Фотографий
							.album__info
								.album__actions
									button.album__action
										+svg('edit')
								.album__name 
									a.album__link(href="" title="") Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру
						.album.albums__item
							a.album__pic(href="" title="")
								img(src="./assets/img/photo.jpg" alr="" title="")
								.album__resume
									.album__descr Фотографии природы леса, енотов и оленей
									.album__count
										span.album__count-value 18
										span Фотографий
							.album__info
								.album__actions
									button.album__action
										+svg('edit')
								.album__name 
									a.album__link(href="" title="") Путешествие на лодке по озеру  на лодке по озеру  на лодке по озеру  на лодке по озеру лодке по озеру  на лодке по озеру  на лодке по озеру



		footer.footer.footer_color_white.footer_bg-dark
			.footer__bg
				img(src="./assets/img/page__header-back.jpg" alt="")
			.footer__wrap
				a.footer__top(href="#" title="")
					+svg('top')
				.footer__about Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
				.footer__copyright.footer__copyright_color_gray 2016 Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool
block modal