.input-file {
	font-size:0;
	display: inline-block;
	position:relative;

	&__input {
		display:none;
	}
	&__btn {
		vertical-align: middle;
	}
	&__descr {
		display: inline-block;
		vertical-align: middle;
		font-size:1.4rem;
		font-family: $default-font-italic;
		color:rgba(#323232,.8);
		margin: 0 0 0 2rem;
	}
}
