.input-file {
	font-size:0;
	&__input {
		display:none;
	}
	&__btn {
		vertical-align: middle;
		margin: 0 2rem 0 0;
	}
	&__descr {
		display: inline-block;
		vertical-align: middle;
		font-size:1.4rem;
		font-family: $default-font-italic;
		color:rgba(#323232,.8);
	}
}
