.btn {
	font-family: $default-font-special;
	font-size: 1.4rem;
	line-height: 4rem;
	line-height: 1;

	position: relative;

	display: inline-block;

	box-sizing: border-box;
	height: 4rem;
	padding: 0 2rem;

	cursor: pointer;
	transition: background-color .2s ease-out, color .2s ease-out;
	white-space: nowrap;

	color: #fff;
	border: .1rem solid rgba(#28bbf0,0);
	border-radius: 2rem;
	outline: none;
	background: #28bbf0;
	box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, .2);
	&__wrap {
		position: relative;
	}
	&__text {
		font-size: 1.4rem;

		display: inline-block;
		overflow: hidden;

		box-sizing: border-box;
		max-width: 0;
		margin-left: 0;

		transition: max-width .5s ease-out, margin .3s linear;
		vertical-align: middle;
		&:after {
			display: inline-block;

			width: 1.5rem;

			content: "";
		}
	}
	&:focus {
		background: lighten(#24b0e3,20%);
	}
	&:hover {
		background: #24b0e3;
	}
	&:active {
		background: #139acb;
	}
	&_flat {
		box-shadow: none;
	}
	&_full-width {
		width: 100%;
	}
	&_light {
		color: #a0a09f;
		background: #fff;
		&:hover,
		&:active,
		&:focus {
			color: #fff;
		}
	}
	&_with-icon {
		font-size: 0;

		position: relative;

		padding: 0;
		.svg-icon {
			font-size: 2rem;

			display: inline-block;

			margin: 0 1rem;

			vertical-align: middle;
		}
		&:hover .btn__text,
		&:focus .btn__text {
			max-width: 20rem;
		}
	}
	&_width_fixed {
		padding: 0 2rem;
		.svg-icon {
			font-size: 1.6rem;

			margin: 0 1rem 0 0;
		}
		.btn__text,
		&:hover .btn__text {
			max-width: none;
			margin: 0;
			&:after {
				display: none;
			}
		}
	}
	&_red {
		color: rgba(#fff,.8);
		background: #ef4534;
		&:hover {
			color: rgba(#fff,1);
			background: #d94231;
		}
	}
	&_bg_transparent {
		color: #28bbf0;
		border: .1rem solid #28bbf0;
		background: transparent;
		&:focus {
			background-color: #ededed;
		}
		&:hover {
			color: #fff;
			background-color: #28bbf0;
		}
	}
	&_text {
		height: auto;
		padding: 0 .1rem;

		color: #28bbf0;
		border: 0;
		background: none;
		&:focus,&:hover,&:active {
			color: #139acb;
			background: none;
		}
	}
}
