.btn {
	font-family: $default-font-special;
	font-size: 1.4rem;
	line-height: 4rem;
	line-height: 1;

	overflow: hidden;

	box-sizing: border-box;
	height: 4rem;
	padding: 0 2rem;

	cursor: pointer;
	transition: background-color .4s ease-out, color .2s ease-out;
	white-space: nowrap;

	color: #fff;
	border: .1rem solid rgba(#28bbf0,0);
	border-radius: 2rem;
	outline: none;
	background: #28bbf0;
	box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, .2);
	&__text {
		font-size: 1.4rem;

		display: inline-block;
		overflow: hidden;

		box-sizing: border-box;
		max-width: 0;
		margin-left: 0;

		transition: max-width .5s ease-out, margin .3s linear;
		vertical-align: middle;
	}
	&:focus {
		background: lighten(#24b0e3,20%);
	}
	&:hover {
		background: #24b0e3;
	}
	&:active {
		background: #139acb;
	}
	&_flat {
		box-shadow: none;
	}
	&_full-width {
		width: 100%;
	}
	&_light {
		color: #a0a09f;
		background: #fff;
		&:hover,
		&:active,
		&:focus {
			color: #fff;
		}
	}
	&_with-icon {
		font-size: 0;

		position: relative;

		padding: 0;
		svg {
			font-size: 2rem;

			display: inline-block;

			margin: 0 1rem;

			vertical-align: middle;
		}
		&:hover .btn__text,
		&:focus .btn__text {
			max-width: 20rem;
			margin: 0 1.5rem 0 0;
		}
	}
	&_bg_transparent {
		background: transparent;
		color:#28bbf0;
		border: .1rem solid #28bbf0;
		&:focus {
			background-color:#ededed;
		}
		&:hover {
			background-color:#28bbf0;
			color:#fff;
		}
	}
}
