.flipper {
	visibility: visible;

	perspective: 1000px;
	&__side {
		border-radius: .5rem;
		background: rgba(#122620,.6);
	}
	&__wrap {
		font-size: 0;

		position: relative;

		display: inline-block;

		max-width: 38rem;

		transform-style: preserve-3d;
	}
	&__front,
	&__back {
		position: relative;
		z-index: 1;

		display: inline-block;

		width: 100%;

		transition: .6s;
		transform: rotateY(0deg);
		vertical-align: middle;

		backface-visibility: hidden;
	}
	&__front {
		z-index: 2;
	}
	&__back {
		margin-left: -100%;

		transform: rotateY(-180deg);
	}
	&_turned &__back {
		z-index: 2;

		transform: rotateY(0);
	}
	&_turned &__front {
		z-index: 1;

		transform: rotateY(180deg);
	}
}