.welcome {
	text-align: center;
	&__title {
		color: #fff;
	}
	&__text {
		font-size: 1.6rem;
		line-height: 1.5;

		margin: 1.2rem 0 0;

		color: #fff;
	}
	&__form {
		padding: 0 2rem 2rem;
		&-wrap {
			display: inline-block;
			overflow: hidden;

			width: 100%;
			max-width: 28rem;
			margin: 3.3rem 0 0;

			text-align: left;

			border-radius: 2rem;
			background: #fff;
		}
		&-row {
			display: block;

			margin: -.1rem -2rem 0 -2rem;

			border-top: .1rem solid #e1e1e1;
			border-bottom: .1rem solid #e1e1e1;
		}
	}
}
