.profile {
	font-size: 0;

	display: inline-block;

	width: 100%;

	vertical-align: middle;

	color: #fff;
	&__pic {
		position: relative;
		z-index: 3;

		display: inline-block;
		overflow: hidden;

		width: 12.4rem;
		height: 12.4rem;
		margin: 0 4.8rem 0 0;

		vertical-align: middle;

		border-radius: 50%;
		&:after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			display: block;

			box-sizing: border-box;

			content: "";

			border: .3rem solid #fff;
			border-radius: 50%;
		}
		img {
			position: relative;
			top: 50%;
			left: 50%;

			min-width: 100%;
			max-width: none;
			min-height: 100%;

			transform: translateX(-50%) translateY(-50%);
			vertical-align: middle;
		}
		&-edit {
			position: absolute;
			z-index: 5;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			border: .3rem solid #fff;
			border-radius: 50%;
			background: rgba(0,0,0,.8);
			&-btn {
				width: 100%;
				height: 100%;

				cursor: pointer;
				text-align:center;

				color: rgba(#fff,.8);
				transition: color .2s;
				border: 0;
				outline: none;
				background: none;
				.svg-icon {
					font-size: 5rem;
					margin:0 0 .6rem;

					position: relative;
				}
				span {
					display:block;
					font-family: $default-font-bold;
					font-size: 1.6rem;

					position: relative;
				}
				&:focus,
				&:hover {
					color: #fff;
				}
			}
		}
	}
	&__bg-edit {
		left:auto;
		bottom:auto;
		right:25%;
		top:50%;
		transform:translateX(50%) translateY(-50%);
		border:0;
	    background:none;
		border-radius: 0;
	}
	&__info {
		display: inline-block;

		width: calc(100% - 17.2rem);

		vertical-align: middle;
	}
	&__name {
		font-family: $default-font-special;
		font-size: 2.1rem;

		position: relative;
		z-index: 3;
	}
	&__about {
		font-size: 1.6rem;
		line-height: 1.5;

		position: relative;
		z-index: 3;

		margin: 1rem 0 0;
	}
	&__lnks {
		position: relative;
		z-index: 4;

		display: table;

		margin: 2.6rem 0 0;
		padding: 0;

		list-style: none;
	}
	&__lnks-item {
		font-size: 2rem;
		line-height: 0;

		display: inline-block;

		margin: 0 1rem 0 0;

		vertical-align: middle;
		a {
			display: block;

			transition: color .2s;

			color: rgba(#fff,.75);
			&:hover {
				color: rgba(#fff,1);
			}
		}
		svg {
			display: block;
		}
		&-edit {
			position:absolute;
			z-index:10;
			left: 50%;
			top: 100%;
			transform:translateX(-50%);
			min-width:100%;
			max-width:28rem;
			padding:1rem;
			box-sizing:border-box;
			background:#fff;
			border-radius: .5rem;
			box-shadow:0 0 .5rem rgba(0,0,0,.5);
		}
		&-btns {
			margin-top:1rem;
		}
	}
	&__btns {
		position: absolute;
		top: 1rem;
		right: 3.5rem;

		padding: 0;

		list-style: none;

		text-align: right;
	}
	&__btn {
		margin-top: 1rem;
	}
	&_edit {
		.profile__info {
			width:40%;
			max-width: 48rem;
			&:after {
				position: absolute;
				z-index: 2;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				display: block;

				content: "";

				background: rgba(0,0,0,.65);
			}
		}
		.profile__pic {
			position: relative;
			z-index: 3;
		}
	}
}
