form.form(action="#login" method="post")
	.form__body.form__body_bottom-padding
		.form__title
			.title.title_with-line Авторизуйтесь
		label.form__row
			input.str-field.str-field_full-width.str-field_with-icon(type="text" value="" placeholder="Логин" name="login" required="")
			+svg("login")
		label.form__row
			input.str-field.str-field_full-width.str-field_with-icon(type="password" value="" placeholder="Пароль" name="pass" required="")
			+svg("password")
		label.form__row.check-field 
			input.check-field__input(type="checkbox" value="" name="is-human" required="") 
			span.check-field__fake-check 
				+svg("check")
			span.check-field__label Я человек
		.form__row
			.form__row-title Вы точно не робот?
			.form__radio-list
				label.radio-field.form__radio-list-item
					input.radio-field__input(type="radio" name="radio" value="yes" required="")
					span.radio-field__fake-radio 
					span.radio-field__label Да
				label.radio-field.form__radio-list-item
					input.radio-field__input(type="radio" name="radio" value="no")
					span.radio-field__fake-radio
					span.radio-field__label Не уверен

	.form__btns dw