.main {
	display: table-row;

	height: 100%;
	&__section {

		padding: 5rem 3.5rem;
		&-wrap {
			box-sizing: border-box;
			max-width: 160rem;
			margin: auto;
		}
		&_middle {
			display: table-cell;

			vertical-align: middle;
		}
		&_center {
			text-align: center;
		}
		&_bgcolor_gray {
			background-color: #f6f6f6;
		}
		&_bgcolor_white {
			background-color: #fff;
		}
	}
	&_bgcolor_gray {
		background-color: #f6f6f6;
	}
}
